::-webkit-scrollbar {
    display: none;
  }
:root{
    --pri-bg-col: #222222;
    --sec-bg-col: #656565;
    --ter-bg-col: #000000;
    --pri-txt-col: #6f6f6f;
}
#custom-cursor {
    position: fixed;
    transform: translate(-50%, -50%);
    width: 75px; /* adjust the size of your cursor image */
    height: 75px;
    background-image: url('./src/cursor.png');
    background-size: cover;
    pointer-events: none;
    z-index: 9999;
  }
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.main-wrap{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}
.main-wrap header{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    background-color: black;
    box-shadow: 0 0 10px 0 rgb(30, 30, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}
.main-wrap header h1{

    color: #279d00;
    text-shadow: 0px 0px 5px #279d00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}
.mob-nav{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.toggle-menu{
    display: none;
}
.mob-nav-links{
    position: absolute;
    right: 0;
}
.mob-nav-links ul{
    list-style: none;
    display:inline; 
    margin: 0;
    padding: 0;
    width: fit-content;
}
.mob-nav-links ul br{
    display: none;
}
.mob-nav-links ul li{
    display: inline-block;
    padding: 10px;
}
.mob-nav-links ul .nav-header{
    display: none;
}
.mob-nav-links ul li a{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: #cecece;
    text-shadow: 0px 0px 2px #cecece;
}
.main-wrap .container-wrap{
    width: 100%;
    min-height: calc(100vh - 120px);
    background-color: black;
}
.main-wrap footer p{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: var(--pri-txt-col);
    box-shadow: 0 0 10px 0 rgb(30, 30, 30);
}
.home-section{
    min-height: calc(100vh - 80px);
    padding-top: 80px;
}
.homecontent{
    display: flex;
    min-height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #279d00;
    text-align: center;
    position: relative;
    z-index: 2;
}
#img1{
    height: 300px;
}
#img2{
    height: 350px;
    bottom: 0;
}

.first{
    font-size: 4rem;
    text-shadow: 0px 0px 3px #279d00;
}
.second{
    font-size: 6rem;
    text-shadow: 0px 0px 3px #279d00;
}
.socials a{
    color: #279d00;
    font-size: 2.5rem;
    text-shadow: 0px 0px 3px #279d00;
}
.homecontent button{
    background-color: transparent;
    text-shadow: 0px 0px 3px #279d00;
    border: 2px solid #279d00;
    color: #279d00;
    font-size: 25px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}
.home-section img{
    height: calc(100vh - 80px);
    position: absolute;
    z-index: 0;
    right: 0;
    opacity: 0.3;
}
.about-section{
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh-80px);
    padding: 10px;
    padding-top: 80px;
    position: relative;
    z-index: 1;
}
.about-section p{
    margin-bottom: 0px;
    color: #279d00;
    text-shadow: 0px 0px 3px #279d00;
}
.about-section h1{
    margin: auto;
    width: max-content;
    text-align: center;
    color: #279d00;
    text-shadow: 0px 0px 5px #279d00;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
}
.about-section div{
    border-left: #cecece 2px solid;
    margin-left: 10px;
    margin-right: 10px;
}
.about-wrapper img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 10px;
    margin-right: 50px;
}
.about-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #cecece;
    text-align: center;
    margin: 10px;
}
.about-wrapper p{
    display: flex;
    width: 700px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #cecece;
    text-align: center;
    text-shadow: none;
    margin: 10px;
    font-size: 25px;
    font-family:monospace;
}
.expertise-section{
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh-80px);
    padding: 10px;
    padding-top: 80px;
    position: relative;
    z-index: 1;
}
.expertise-section p{
    margin-bottom: 0px;
    color: #279d00;
    text-shadow: 0px 0px 3px #279d00;
}
.expertise-section h1{
    text-align: center;
    color: #279d00;
    text-shadow: 0px 0px 5px #279d00;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
}
.expertise-section div{
    border-left: #cecece 2px solid;
    margin-left: 10px;
    margin-right: 10px;
}
.expertise-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.expertise-wrapper div{
    width: 450px;
    height: 350px;
    margin: 25px;
    border: #cecece 4px solid;
}
.expertise-wrapper div div{

    border: none;
    border-left: #cecece 2px solid;
    box-shadow: none;
    height: auto;
    margin: 0px;
    margin-left: 10px;
    width: 400px;
}
.expertise-wrapper div div h3{
    margin: 10px;
    color: #cecece;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.expertise-content-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #cecece;
}
.expertise-content-header i{
    font-size: 50px;
}
.expertise-content-header h3 span{
    background: linear-gradient(to top, #218200 40%, transparent 40%);
    font-family: 'Courier New', Courier, monospace;
}
.expertise-wrapper div div p{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #cecece;
    font-size: 20px;
    color: #cecece;
    text-shadow: none;
    font-family: monospace;
}
.certificates-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.certificates-wrapper .certificates{
    width: auto;
    border: #cecece 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.certificates:hover img{
    transform: scale(1.1);
}
.certificates-wrapper .certificates img{
    width: 800px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
}
.certificates-wrapper .project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 0px;
}
.certificates-wrapper .project img{
    width: 800px;
    height:400px;
}
.certificates-wrapper .project .pr{
    width: 800px;
    border: #cecece 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    color: #cecece;
}
.certificates-wrapper .project .pr h3{
    margin-bottom: 0px;
    font-size: 25px;
}



.bg1{
    position: absolute;
    z-index: 0;
    right: 0;
    width: 40rem;
    max-width: 100%;
    opacity: 0.2;

}
.bg{
    position: absolute;
    left:0;
    z-index: 0;
    width: 40rem;
    max-width: 100%;
    opacity: 0.2;
}



@media (max-width: 850px) {
    custom-cursor{
        display: none;
    }
    .toggle-menu{
        display: block;
        margin: 0;
        padding: 0;
        background-color: transparent;
        width: 40px;
        border: none;
        cursor: pointer;
    }
    .toggle-menu .div1{
        margin: 4px;
        height: 4px;
        background-color: var(--sec-bg-col);
        border: none;
        border-radius: 5px;
        background-color: #279d00;
        box-shadow: 0px 0px 5px #279d00;
    }
    .toggle-menu .div2{
        margin: 4px;
        height: 4px;
        width: 60%;
        background-color: var(--sec-bg-col);
        border: none;
        border-radius: 5px;
        background-color: #279d00;
        box-shadow: 0px 0px 5px #279d00;
    }
    .toggle-menu .div3{
        margin: 4px;
        height: 4px;
        background-color: var(--sec-bg-col);
        border: none;
        border-radius: 5px;
        background-color: #279d00;
        box-shadow: 0px 0px 5px #279d00;
    }
    .mob-nav-links {
        height: 100vh;
        width: 55vw;
        margin: 0;
        padding: 0;
        background-color:black;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 11;
        transition: all 0.3s ease-in-out;
    }
    .mob-nav-links ul .nav-header{
        display: block;
    }
    .nav-header h1{
        padding-top: 10px;
    }
    .mob-nav-links ul{
        list-style: none;
        display: inline;
        margin: 0;
        padding: 0;
    }
    .mob-nav-links ul br{
        display: block;
    }
    .mob-nav-links ul li{
        display: block;
        padding: 10px;
        text-align: center;
    }
    .mob-nav-links ul li a{
        text-decoration: none;
        font-size: 20px;
        color: #cecece;
    }
    .nav-screen{
        width: 100vw;
        height: 100vh;
        background-color: #525252;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 0.6;
        backdrop-filter: blur(5px);
        display: none;
    }
    .home-section img{
        opacity: 0.2;
        top: 0;
    }
    .first{
        font-size: 2rem;
    }
    .second{
        font-size: 3rem;
    }
    #img1{
        display: none;
    }
    #img2{
        display: none;
    }
    
    .homecontent button{
        font-size: 20px;
    }
    .socials a{
        color: #279d00;
        font-size: 2rem;
        text-shadow: 0px 0px 3px #279d00;
    }
    .about-section h1{
        text-align: center;
        color: #279d00;
        text-shadow: 0px 0px 5px #279d00;
        font-size: 2.2rem;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 0px;
    }
    .about-wrapper img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
        background-color: white;
        margin-right: 0px;
    }
    .about-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: #cecece;
        text-align: center;
        margin: 10px;
    }
    .about-wrapper p{
        display: flex;
        width: 300px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: #cecece;
        text-align: center;
        text-shadow: none;
        font-size: 16px;
    }
    .expertise-section h1{
        text-align: center;
        color: #279d00;
        text-shadow: 0px 0px 5px #279d00;
        font-size: 2.2rem;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 0px;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .expertise-wrapper div{
        width: 300px;
        height: 290px;
        margin: 25px;
        margin-left: 40px;
        border: #cecece 3px solid;
    }
    .expertise-wrapper div div{
    
        border: none;
        border-left: #cecece 2px solid;
        box-shadow: none;
        height: auto;
        margin: 0px;
        margin-left: 10px;
        width: 290px;
    }
    .expertise-wrapper div div h3{
        margin: 10px;
        color: #cecece;
        font-size: 25px;
    }
    .expertise-content-header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: #cecece;
    }
    .expertise-content-header i{
        font-size: 50px;
    }
    .expertise-content-header h3 span{
        background: linear-gradient(to top, #218200 40%, transparent 40%);
    }
    .expertise-wrapper div div p{
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #cecece;
        font-size: 16px;
        color: #cecece;
        text-shadow: none;
    
    }
    .certificates-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .certificates-wrapper .certificates{
        width: auto;
        border: #cecece 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .certificates-wrapper .certificates img{
        width: 98%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .certificates-wrapper .project{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-left: 0px;
    }
    .certificates-wrapper .project img{
        width: 300px;
        height:200px;
    }
    .certificates-wrapper .project .pr{
        width: 300px;
        border: #cecece 2px solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        color: #cecece;
    }
    .certificates-wrapper .project .pr h3{
        margin-bottom: 0px;
        font-size: 20px;
    }
    
}